*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(100% * (10 / 16));
  box-sizing: border-box;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-nano) {
    font-size: 40%;
  }
}

body {

}
